﻿@model Livro

<div class="mb-3">
    <label asp-for="Titulo" class="form-label"></label>
    <input asp-for="Titulo" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="Autor" class="form-label"></label>
    <input asp-for="Autor" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="Ano" class="form-label"></label>
    <input asp-for="Ano" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="Genero" class="form-label"></label>
    <select asp-for="Genero" class="form-select" asp-items="@Html.GetEnumSelectList<Genero>()"></select>
</div>
