﻿@model List<Livro>;
@{
    ViewData["Title"] = "Emprestado";
}

<h1>Livros Emprestados</h1>

<a asp-action="Index" type="button" class="btn btn-primary">Voltar para o acervo</a>

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

@if (Model.Count > 0)
{
    <table class="table">
        <tr class="table-light text-center">
            <th>Id</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Ano</th>
            <th>Gênero</th>
            <th>Ações</th>
        </tr>

        @foreach (Livro livro in Model)
        {
            if (livro.Emprestado == true)
            {
              <tr class="text-center">
                <td>@livro.Id</td>
                <td>@livro.Titulo</td>
                <td>@livro.Autor</td>
                <td>@livro.Ano</td>
                <td>@livro.Genero</td>
                <td>
                    <a asp-action="Devolver" asp-route-id="@livro.Id" class="btn btn-sm btn-success">Devolver</a>
                </td>
                
            </tr>  
            }
            

        }


    </table>

}
else
{
    <div class="alert alert-dark">
        Acervo vazio
    </div>
}

