﻿@model Livro

@{
    ViewData["Title"] = "Index";
}

<h1>Acervo de livros</h1>



@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CadastroModal">
    
    Cadastrar novo livro

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"></path>
    </svg>
</button>


@if (ViewBag.livros.Count > 0)
{
    <table class="table">
        <tr class="table-light text-center">
            <th>Id</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Ano</th>
            <th>Gênero</th>
            <th>Ações</th>
            <th>Status</th>
        </tr>

        @foreach (Livro livro in ViewBag.livros)
        {
            <tr class="text-center">
                <td>@livro.Id</td>
                <td>@livro.Titulo</td>
                <td>@livro.Autor</td>
                <td>@livro.Ano</td>
                <td>@livro.Genero</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@livro.Id" class="btn btn-sm btn-warning">Editar</a>

                    <button onclick="idLivro.value = @livro.Id" type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#RemoverModal">
                        Remover
                    </button>

                </td>
                <td>
                    @if (@livro.Emprestado == false)
                    {
                        <div class="btn btn-sm btn-info" readonly>Disponível</div>
                        <a asp-action="Emprestar" asp-route-id="@livro.Id" class="btn btn-sm btn-success">Emprestar</a>
                    }
                    else
                    {
                        <a asp-action="Emprestado" class="btn btn-sm btn-info">Emprestado</a>
                       
                    }
                </td>
            </tr>

        }


    </table>

}
else
{
    <div class="alert alert-dark">
        Acervo vazio
    </div>
}

<!-- Modal cadastro livro -->
<div class="modal fade" id="CadastroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action=Cadastrar>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar novo livro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <partial name="_Form" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal remover livro -->
<div class="modal fade" id="RemoverModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remover livro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja remover o livro selecionado do acervo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <form asp-action="Remover">
                    <input type="hidden" name="id" id="idLivro" />
                    <input type="submit" class="btn btn-primary" value="Remover" />
                </form>
            </div>
        </div>
    </div>
</div>

