﻿@{
    ViewData["Title"] = "Biblioteca";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a) a biblioteca</h1>

    <a asp-controller="Livro" asp-action="Index">

        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Consulte o acervo</button>
        </div>

    </a>

    <img class="img-fluid" src="~/img/livros.jpg" />

</div>
